
#content {
	width: 180px;
	font-size: 16px;
}

.header {
	text-align: center;
	padding: 5px 7px;
	color: white;
	background-color: rgb(238, 170, 170);
}

.list {
	margin-bottom: 10px;
}

.option {
	cursor: pointer;
	padding: 3px 4px;
	opacity: 0.6
}

.option:hover {
	opacity: 1;
}

.disabled {
	color: rgb(220, 220, 220);
	text-decoration: line-through;
}

.disabled:hover {
	opacity: 0.8;
}

#tabSize .disabled {
	text-decoration: none;
}
